.vscode
__pycache__/
examples/
clingo/
metarep_encoder/__pycache__/
tr_ilasp/__pycache__/
spec_files/
random_programs/
evaluation_pkg/__pycache__/

correct.las
revisable.las
user.las
temp.txt
workfile.las
revised.las
revised.lp
eval_data.csv
.~lock.eval_data.csv#

!requirements.txt