<!doctype html>
<html>
    <head>
        <title>Revision tool</title>
    </head>
    <body>
        <table style="border: 1px solid black;">
            <tr>
                <th style="border: 1px solid black;">Model program filename:</th>
                <td style="border: 1px solid black;">{{data['model_program_filename']}}</td>
            </tr>
            <tr>
                <th style="border: 1px solid black;">Model program:</th>
                <td style="border: 1px solid black;">
                    <ul style="list-style-type:none; padding-left:0;">
                    {% for each in data['model_program'] %}
                        <li>{{each}}</li> 
                    {% endfor %}  
                    </ul>
                </td>
            </tr>
            <tr>
                <th style="border: 1px solid black;">Student program filename:</th>
                <td style="border: 1px solid black;">{{data['student_program_filename']}}</td>
            </tr>
            <tr>
                <th style="border: 1px solid black;">Student program:</th>
                <td style="border: 1px solid black;">
                    <ul style="list-style-type:none; padding-left:0;">
                    {% for each in data['student_program'] %}
                        {% if each in data['revisable_rule_ids'] %}
                            <li style="color:red;">{{each}}: {{data['student_program'][each]}}</li> 
                        {% else %}
                            <li>{{each}}: {{data['student_program'][each]}}</li>  
                        {% endif %}
                    {% endfor %}  
                    </ul>
                </td>
            </tr>
            {% if data['feedback_gen_success'] %}
            <tr>
                <th style="border: 1px solid black;">Similarity Score:</th>
                <td style="border: 1px solid black;">{{data['similarity_score']}}</td>
            </tr>
            <tr>
                <th style="border: 1px solid black;">Facts not derived:</th>
                <td style="border: 1px solid black;">
                    <ul style="list-style-type:none; padding-left:0;">
                    {% for each in data['positive_examples'] %}
                        <li>{{each}}</li> 
                    {% endfor %}  
                    </ul>
                </td>
            </tr>
            <tr>
                <th style="border: 1px solid black;">Incorrect facts derived:</th>
                <td style="border: 1px solid black;">
                    <ul style="list-style-type:none; padding-left:0;">
                    {% for each in data['negative_examples'] %}
                        <li>{{each}}</li> 
                    {% endfor %}  
                    </ul>
                </td>
            </tr>
            <tr>
                <th style="border: 1px solid black;">Revisions:</th>
                <td style="border: 1px solid black;">
                    <ul style="list-style-type:none; padding-left:0;">
                    {% for each in data['revisions'] %}
                        <li>{{each}}</li> 
                    {% endfor %}  
                    </ul>
                </td>
            </tr>
            <tr>
                <th style="border: 1px solid black;">Revision Success:</th>
                <td style="border: 1px solid black;">{{data['revision_success']}}</td>
            </tr>
            {% else %}
            <tr>
                <th style="border: 1px solid black;">Message:</th>
                <td style="border: 1px solid black; color: red;">{{data['message']}}</td>
            </tr>
            {% endif %}
        </table>
    </body>
</html>
